*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.class
*.dpth
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.nav
*.nlo
*.out
*.pyg
*.snm
*.synctex.gz
*.toc
.*.swp
MA.auxlock
MA.listing
MA.loa
MA.lol
MA.lot
MA.mls
MA.pdf
MA.tdo
MA.thm
MA.todo
No.tex
launchd-err.txt
launchd-out.txt
lualatex*.fls
vortrag.pdf
