*.aux
*.bbl
*.blg
*.fdb_latexmk
*.idx
*.lof
*.log
*.nlo
*.out
*.synctex.gz
*.toc
*.dpth
MA.pdf
MA.todo
MA.lot
MA.auxlock
MA.tdo
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ilg
*.ind
*.ist
*.class
*.tex.swp
*.bib.swp
MA.lol
MA.fls
launchd-err.txt
launchd-out.txt
MA.loa
lualatex*.fls
No.tex
